GATEWAY_PORT=3000
USER_PORT=3001
CHAT_PORT=3002
FRIEND_PORT=3003
POST_PORT=3004
NOTIFICATION_PORT=3005

USER_TARGET=http://users:3001
CHAT_TARGET=http://chat:3002
FRIEND_TARGET=http://friends:3003
POST_TARGET=http://posts:3004
NOTIFICATION_TARGET=http://notifications:3005

CLIENT_URL=http://localhost:5173
ACCESS_TOKEN_SECRET_KEY = fcbddc87d8ce5288a3c6eb35bc30e28d534672e309b98db650237121e7e0e5df
REFRESH_TOKEN_SECRET_KEY = 3fb14125fc41ae5cc269fc0ae0a7601eda2345t17bc1704c367816bdbf9a1e6f

AMQP_URL_DOCKER=amqp://admin:admin@rabbitmq:5672

MYSQL_DB_HOST=mysqldb
MYSQL_DB_USER=root
MYSQL_DB_PASS=123456
MYSQL_USERDB_NAME=userdb
MYSQL_CHATDB_NAME=chatdb
MYSQL_FRIENDDB_NAME=frienddb
MYSQL_NOTIFICATIONDB_NAME=notificationdb
MYSQL_POSTDB_NAME=postdb
MYSQL_DB_PORT=3306

EMAIL_USERNAME=
EMAIL_APP_PASSWORD=

CLOUDINARY_API_KEY= 
CLOUDINARY_SECRET_KEY= 
CLOUDINARY_NAME= 